<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-03-30T12:05:52Z</date>
	<key>WorkspacePath</key>
	<string>/Users/admin/Desktop/05-macOS/06-iOS/01-window/01-Landscape/window/window.xcodeproj</string>
</dict>
</plist>
